body {
    font-family: sans-serif;
  }
  
  #gameBoard {
    background-color: #232323;
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    grid-template-rows: 8rem 8rem 8rem;
    gap: .8rem;
    margin-bottom: 2rem;
    max-width: 25.50rem;
  }
  
  #gameBoard span {
    background-color: #ddd;
    display: grid;
    place-content: center;
    font-size: 5rem;
  }
  
  #gameBoard span.win {
    background-color: #25a340;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }